<h1>
hello {{ name }}
</h1>

<h1> Your orders  </h1>

<h4> Delivery Address: {{address}} </h4>
<h4> Items: {{items}} </h4>
<h4> Total Price: {{totalPrice}} </h4>
<h4> Total Qty: {{totalQty}} </h4> 


